body {
  font-family: Arial;
}

.card {
  width: 625px;
}

.poll__title {
  margin-bottom: 20px;
}

.poll__answers {
	display: none;
	gap: 10px;
}

.poll__answers_active {
	display: flex;
}

.stat__vote {
	font-weight: bold;
	color: black;
}
